
body, html {
    height: 100%;
    font-family: 'Walter Turncoat', cursive;
    margin: 0;
}

a:hover, .dropdown-item:hover, h6:hover  {
	color: #ff1524;
	text-decoration: none;
}

div {
	/*border: 1px solid blue;*/
	/*height: 400px;*/
}

p {
	margin: unset;
	padding: unset; 
}

.header_board {
	font-family: 'Homemade Apple', cursive;
	color: white;
	font-size: 3rem;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 3rem;
}

#score_board {
	background-image: url("board.jpg");
	height: 90vh;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.list_item_number, .list_item_name {
	color: white;
	opacity: 0.8;
	text-transform: uppercase;
	list-style: none;
	font-size: 2.5rem;
}

.list_item_number {
	text-align: right;
}

.list_item_name {
	text-align: left;
}

.basic_text {
	font-family: 'Walter Turncoat', cursive;
	color: black;
	text-align: right;
}

#dart_background {
	background-image: url("darts.jpg");
	height: 90vh;
	background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.button_menu {
	font-family: 'Homemade Apple', cursive;
	color: black;
	font-size: 2rem;
	padding-top: 5.5rem;
}

.btn:focus {
	box-shadow: none;
	color: #ff1524;
}

.dropdown-menu {
	border-left: 1px solid rgba(0,0,0,.15);
	border-right: 1px solid rgba(0,0,0,.15);
	border-top: none;
	border-bottom: none;
	border-radius: none;
}

.dropdown-item:active {
	background-color: none;
}

.arrow {
	margin-top: 10rem;
	margin-bottom: 2rem;
	opacity: 0.8;
}

.address {
	font-size: 1.25rem;
}

.month {
	font-size: 6rem;
	line-height: 1;
	padding-top: 1rem;
	text-shadow: 5px 5px 10px grey;

}

.day {
	color: #ff1524;
	font-size: 8rem;
	line-height: 0.8;
	text-shadow: 5px 5px 10px grey;
}

footer h6 {
	font-family: 'Walter Turncoat', cursive;
	color: black;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.button_gallery {
	/*background-color: #ffa500;*/
    color: black;
    font-size: 2rem;
    display: block;
    padding: 1.5rem;
    box-shadow: 4px 4px 20px black;
    border-radius: 12px;
    margin-top: 3rem;
}

.modal-header, .modal-footer, .list-group, .list-group-item {
	border: none;
}

.modal-header p {
	font-family: 'Homemade Apple', cursive;
	color: black;
	font-size: 2rem;
}

.modal-content {
	padding: 2%;
}

.button_back {
	font-family: 'Homemade Apple', cursive;
	color: black;
	border-radius: 25px;
	cursor: pointer;

}

.button_add {
	font-family: 'Homemade Apple', cursive;
	color: black;
	border-radius: 25px;
	background-color: rgba(11, 148, 68, 0.8);
	cursor: pointer;
}

.photo {
	max-width: 50%;
}






/*.top_button {
	margin-top: 4rem;
}*/