
body, html {
    height: 100%;
    font-family: 'Walter Turncoat', cursive;
    margin: 0;
}

a:hover, .dropdown-item:hover, h6:hover, .button_back:hover, .button_add:hover  {
	color: #ff1524;
	text-decoration: none;
}

div {
	/*border: 1px solid blue;*/
	/*height: 400px;*/
}

p {
	margin: unset;
	padding: unset; 
}

.header_board {
	font-family: 'Homemade Apple', cursive;
	color: white;
	font-size: 4rem;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 3rem;
}

#score_board {
	background-image: url("board.jpg");
	height: 90vh;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

/*beginning of animation */
	.list_item_name, .list_item_number {
	    animation: fadein 3s forwards;
	}

	@keyframes fadein {
	    from {opacity:0;}
	    to {opacity:1;}
	}

	.list_item_name:nth-child(8), .list_item_number:nth-child(8) {  
	 	animation-delay: 0.5s;
	}

	.list_item_name:nth-child(7), .list_item_number:nth-child(7) {  
		animation-delay: 1s;
	}

	.list_item_name:nth-child(6), .list_item_number:nth-child(6) { 
		animation-delay: 1.5s;
	}

	.list_item_name:nth-child(5), .list_item_number:nth-child(5) { 
	  	animation-delay: 2s;
	}

	.list_item_name:nth-child(4), .list_item_number:nth-child(4) { 
	  	animation-delay: 2.5s;
	}

	.list_item_name:nth-child(3), .list_item_number:nth-child(3) { 
	  	animation-delay: 3s;
	}

	.list_item_name:nth-child(2), .list_item_number:nth-child(2) { 
	  	animation-delay: 3.5s;
	}

	.list_item_name:nth-child(1), .list_item_number:nth-child(1) { 
	  animation-delay: 4s;
	}
/*end of animations */


.list_item_number, .list_item_name {
	color: white;
	opacity: 0.8;
	text-transform: uppercase;
	list-style: none;
	font-size: 2.5vw;
}

.list_item_number {
	text-align: right;
	opacity: 0;
}

.list_item_name {
	text-align: left;
	opacity: 0;
}

.basic_text {
	font-family: 'Walter Turncoat', cursive;
	color: black;
	text-align: right;
}

#dart_background {
	background-image: url("darts.jpg");
	height: 90vh;
	background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.button_menu {
	font-family: 'Homemade Apple', cursive;
	color: black;
	font-size: 2vw;
	padding-top: 5.5rem;
}

.btn:focus {
	box-shadow: none;
	color: #ff1524;
}

.dropdown-menu {
	border-left: 1px solid rgba(0,0,0,.15);
	border-right: 1px solid rgba(0,0,0,.15);
	border-top: none;
	border-bottom: none;
	border-radius: none;
}

.dropdown-item:active {
	background-color: none;
}

.arrow {
	margin-top: 10rem;
	margin-bottom: 2rem;
	opacity: 0.8;
}

.address {
	font-size: 1.25vw;
	color: black;
}

.month {
	font-size: 6vw;
	line-height: 1;
	padding-top: 1rem;
	text-shadow: 5px 5px 10px grey;

}

.day {
	color: #ff1524;
	font-size: 8vw;
	line-height: 0.8;
	text-shadow: 5px 5px 10px grey;
}

footer h6 {
	font-family: 'Walter Turncoat', cursive;
	color: black;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.button_gallery {
	/*background-color: #ffa500;*/
    color: black;
    font-size: 2vw;
    display: block;
    padding: 1.5rem;
    box-shadow: 4px 4px 20px black;
    border-radius: 12px;
    margin-top: 3rem;
}

.modal-header, .modal-footer, .list-group, .list-group-item {
	border: none;
}

.modal-header p {
	font-family: 'Homemade Apple', cursive;
	color: black;
	font-size: 2vw;
}

.modal-content {
	padding: 2%;
}

.button_back {
	font-family: 'Homemade Apple', cursive;
	color: black;
	border-radius: 25px;
	cursor: pointer;

}

.button_add {
	font-family: 'Homemade Apple', cursive;
	color: black;
	border-radius: 25px;
	background-color: rgba(11, 148, 68, 0.8);
	cursor: pointer;
}

.photo {
	max-width: 50%;
}




/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
.header_board {
	font-family: 'Homemade Apple', cursive;
	color: white;
	font-size: 3rem;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 3rem;
}

#score_board {
	background-image: url("board.jpg");
	height: 90vh;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {


}